<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Naive Bayes Classifier </h3>
    <ul>
      <li>Naive Bayes Algorithm, Natural Language Processing</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" target="_blank" href="https://github.com/aarushigupta/NaiveBayesClassifier">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="hmm_pos_tagger" src="{{ "/assets/img/POS-Tagging.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> HMM Tagger for Parts of Speech Tagging </h3>
    <ul>
      <li> Hidden Markov Model, Natural Language Processing</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" target="_blank" href="https://github.com/aarushigupta/HMMPOSTagger">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="perceptron" border=4 src="{{ "/assets/img/perceptron_2.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Perceptron </h3>
    <ul>
      <li>Perceptron, Neural Network, Natural Language Processing</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" target="_blank" href="https://github.com/aarushigupta/Perceptron">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="sentiment_analyser" src="{{ "/assets/img/sentimental_analyser_2.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Facebook Sentimental Analyser </h3>
    <ul>
      <li> Perceptron, Sentimental Analysis, Chrome Extension</li>
      <li> Python, JavaScript</li>
    </ul>
    <p>This extension when added to your Chrome gets activated on visiting "facebook.com"  and colors the text on your facebook page with the <b>green</b> color signifying positive sentiment posts and <b>red</b> signifying negative posts. This Analyser uses a trained vanilla perceptron to predict the sentiment of the posts. </p>
    <a class="project-link" target="_blank" href="https://github.com/aarushigupta/FacebookSentimentalAnalyser">Check it out</a>
  </div>
</div>
